@import url(//db.onlinewebfonts.com/c/0f59ffa6a0bf8c6c3577d96fa2872a3a?family=PlutoBold);
@import url(//db.onlinewebfonts.com/c/4ececa0a5da87cd55bba230f6496802e?family=Pluto);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$poppins: 'Poppins', sans-serif;

$primary_blue: #002E6D;
$secondary_blue: #3473A7;